* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
header {
    background: #00605f;
    color: white;
    padding: 20px;
    text-align: center;
  }

  .tutorial-step {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
  }

  .tutorial-step img {
    max-width: 100%;
    border-radius: 8px;
  }

  .contact {
    text-align: center;
    margin: 20px 0;
  }

  .contact a {
    text-decoration: none;
    color: white;
    background: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #sapp {
    background-color: #008000;
  }

  #sapp:hover {
    background-color: #006400;
    transform: scale(1.1);
  }

  #tel {
    background-color: #007BFF;
  }

  #tel:hover {
    background-color: #0056CC;
    transform: scale(1.1);
  }

footer {
    text-align: center;
    padding: 20px;
    background: #00605f;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a img {
  width: 150px;
}